# OAuth2 API Test Configuration
OAUTH2_BASE_URL=http://localhost:8081
OAUTH2_AUTH_PATH=/auth
OAUTH2_CLIENT_ID=test-client
OAUTH2_CLIENT_SECRET=test-secret
OAUTH2_GRANT_TYPE=client_credentials
OAUTH2_SCOPE=default
OAUTH2_PRIVATE_KEY_PATH=tmp/keys/client_private.pem

# Crie os arquivos de teste OAuth2 privados na pasta /tmp/keys
# client_private.pem e client_public.pem (estes para emitir o assertion JWT)
# e tambem o server_private.pem e server_public.pem (estes para o docker service fazer a emissao do token)